.main{
    width: 400px;
    border: 1px solid grey;
    padding: 20px;
   
}

.view{
    display: flex;
    justify-content: space-between;
}

.view button{
    width:50px;
    height:25px;
    background-color: white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

#edit-btn:hover{
    color: blue;
}

#del-btn:hover{
    color: red;
}

#btn{
    width:80px;
    height:30px;
    background-color: white;
    outline: none;
    background-color: rgba(100, 104, 100, 0.637);
    cursor: pointer;
    border: 1px solid grey;
}

#btn:hover{
    color: white;
}

#t1{
    height:18px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    width: 300px;
}

.heading{
    display: flex;
    width: 100%;
    justify-content: center;
}

.field{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.todo{
    display: flex;
    justify-content: center;

}